/*
 General text
*/

h1{
  font-size: 2rem;
}

h1 a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #333;
}


/*
  Masthead
*/

.masthead {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  font-family: "Quattrocento Sans", sans-serif;
}

.masthead a:hover {
  color:black;
}

.masthead-title a {
  font-size: 2rem;
  color: #505050;
}

.masthead-title a:hover {
  font-size: 2rem;
  color: #505050;
}


.masthead-subtitle {
  color: #797979;
}

.masthead-subtitle a:hover {
  color: black;
}



/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
  padding-right: 10px;
}

.menu-content a {
  color: #797979;
  font-size: 1rem;
}

.menu-content a:hover {
  color: black;
  font-size: 1rem;
  padding-right: 10px;
}

