<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <title>Lab Monitor</title>


    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Override parts of the bootstrap-->
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
	

    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

</head>

<body>

    <header class="masthead">
        <h3 class="masthead-title">
	    <a href="/">Lab Monitor</a>
	    <small class="masthead-subtitle"></small>
            <div class="menu">
	        <nav class="menu-content">
		<a href="about.html">About</a>
	        </nav>
            </div>

    </header>

    <br>
    <br>


    <!-- Container for Chart 1 -->

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-container1">

            </div>
        </div>
    </div>

    <br>
    <br>

    <!-- Container for Chart 2 -->
    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-container2">

            </div>
        </div>
    </div>






    <script>
	//How many charts do we want?
        var chart1;
        var chart2;

        function requestData()
        {
            // Ajax call to get the data from Flask
            var requests = $.get('/data');


            var tm = requests.done(function (result)
            {
                var _series1 = chart1.series[0],
                    shift = _series1.data.length > 20;

		//Data wrangling for the first chart

                var data1 = [];
                data1.push(result[0]); //0th column is always the time (hopefully)
                data1.push(result[1]); 

                var data2 = [];
                data2.push(result[0]);
                data2.push(result[2]);


                // add the data points for chart 1
                chart1.series[0].addPoint(data1, true, shift);
                chart1.series[1].addPoint(data2, true, shift); 
		


		// Data wrangling for chart 2
		var _series2 = chart2.series[0],
                    shift = _series2.data.length > 20;

		var data3 = [];
		data3.push(result[0]);
		data3.push(result[3]);
		chart2.series[0].addPoint(data3, true, shift);



                // call it again after one second
                setTimeout(requestData, 2000);
            });
        }

        $(document).ready(function() {
	    Highcharts.setOptions({
	        time: {
		    timezoneOffset: 4 * 60 //Changes depending on daylight savings -- Currently set to EDT
	        }
	    });

	    //-------------- Begin Chart 1
            chart1 = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-container1',
                    defaultSeriesType: 'spline',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'Live Data' //Change to type of data e.g. Live Temperature, Live Pressure etc...
		},

		subtitle: {
        	    text: 'Source file: dummy.csv' //Change to filename of CSV
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Temperature (K)', //Generalize 
                        margin: 80
                    }
                },
                series: [{
                    name: 'Temperature Data', //Generalize to column header
                    data: []
		},{
		    name: 'Temperature Data 2',
		    data: []

                }]
	        
            }); //-------------- End of Chart 1

	    //-------------- Begin Chart 2


            chart2 = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-container2',
                    defaultSeriesType: 'spline',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'Live Data' //Change to type of data e.g. Live Temperature, Live Pressure etc...
		},

		subtitle: {
        	    text: 'Source file: dummy.csv' //Change to filename of CSV
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Pressure (Torr)', //Generalize 
                        margin: 80
                    }
                },
                series: [{
                    name: 'Presure Data', //Generalize to column header
                    data: []
		}]
	        
            }); //-------------- End of Chart 2

        });
    </script>
</body>

</html>
