<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <title>Lab Monitor</title>


    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Override parts of the bootstrap-->
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
        


    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>

<body>

    <header class="masthead">
        <h3 class="masthead-title">
            <a href="/">Lab Monitor</a>
            <small class="masthead-subtitle"></small>
            <div class="menu">
                <nav class="menu-content">
                <a href="about.html">About</a>
                </nav>
            </div>

    </header>
   
    <div class="container">
    <h4>This is the about page!</h4>
    
    <br>
    
    <p>
    Over here you can write about what data is being shown, and how to use your web app. You can even <a href="https://github.com/soudk/lab-monitor" target="blank">link to your git repository</a> if you wish. 
    </p>

    <p>
    Head back to the charts by clicking on the page title or the back button on your browser. 
    </p>

    </div>
</body>

</html>
